<h2><%= link_to 'All Superheroes', superheroes_path %></h2>

<h3>Search by Superpower</h3>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<br>
<br>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to 'Create a new superhero!', new_superhero_path %>
