<h2>All Superheroes</h2>

<%= form_tag superheroes_path, method: 'get' do %>
  <%= label_tag :superpower, "Search By Superpower" %>
  <%= search_field_tag :superpower %>
  <%= submit_tag "Search" %>
<% end %>


<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to "#{superhero.super_name}", superhero %></li>
    </li>
    <br>
  <% end %>
</ul>
