<h1>New Superhero Form</h1>

<%= form_for(@superhero) do |f| %>
  <%= f.label "Civilian Name" %><br>
  <%= f.text_field :name %><br>
<br>
  <%= f.label "Super Name " %><br>
  <%= f.text_field :super_name %><br>
<br>
  <%= f.label "Super Power" %><br>
  <%= f.collection_select(:superpower_id, Superpower.all, :id, :name) %><br>
  <br>
  <%= f.submit %>
<% end %>
