<h1>Create Superhero :</h1>


<%= form_for (@superhero) do |f| %>

  <h4><%= f.label "Name:" %></h4>
  <%= f.text_field :name %> <br>

  <h4><%= f.label "Super name:"%></h4>
  <%= f.text_field :super_name %><br>

  <h4><%= f.collection_select :superpower_id, Superpower.all, :id, :name %></h4><br>

  <%= f.submit %>

<% end %>

  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
<br>
<br>
<br>
<br>
<%= link_to "Back to Superheroes", superheroes_path%>
