<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <br>
      <hr>
      <%= link_to "Create new superhero", new_superhero_path %>
      <%= link_to "See all superheroes", superheroes_path %>
      <%= link_to "See all superpowers", superpowers_path %>
    </footer>
  </body>
</html>
